<html>

<head>
    <title>ZH | Conex&ccedil;&atilde;o com Facebook</title>
</head>

<body style="background: #FFFFFF; margin:0; padding:0;">
    <table width="100%">
        <tbody>
            <tr style="background: #f5f5f5;">
                <td align="center" style="height: 127px; border-bottom: 1px solid #e4e4e4;">
                    <table width="640">
                        <tbody>
                            <thead>
                                <tr>
                                    <td style="border-right: 1px solid #dcdcdc; height: 80px; text-align: center; vertical-align: middle; width:120px;">
                                        <img src="http://www.clicrbs.com.br/wrs/icon/logo-zh.png" width="78" height="51" />
                                    </td>
                                    <td style="width: 520px;">
                                        <h1 style="color: #141414; float:left; font: bold 42px Arial, Helvetica; letter-spacing: -2px; padding:0; margin: 0 15px 0;">
                                            Conex&atilde;o com Facebook
                                        </h1>
                                    </td>
                                </tr>
                            </thead>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding-top: 60px; padding-bottom: 20px;">
                    <table width="640">
                        <tbody>
                            <thead>
                                <tr>
                                    <td style="width: 100%; text-align: center;">
                                        <strong style="color: #292929; font: bold 28px/34px Arial, Helvetica; letter-spacing: -1px;">
                                            Ol&aacute; ${headers.firstName}#if (${headers.lastName}) ${headers.lastName}#end.
                                        </strong>
                                        <p style="color: #292929; font: bold 16px/24px Arial, Helvetica; letter-spacing: -1px;">
                                            Obrigado por conectar sua conta de Facebook com ZH.
                                        </p>

                                        <p style="color: #000000; font: normal 14px/22px Arial, Helvetica; width: 82%; margin: 20px auto 40px;">
                                            Abaixo est&atilde;o seus dados de acesso a servi&ccedil;os de ZH que ainda n&atilde;o possuem login com Facebook.
                                        </p>
                                        <table align="center" style="align:center;width: 80%;background-color: #f5f5f5; font: normal 14px/22px Arial, Helvetica;">
                                            <tr>
                                                <td width="40%" style="text-align: right;">Usu&aacute;rio:</td>
                                                <td style="padding-left:10px;text-align: left; font: bold 14px/22px Arial, Helvetica; ">${headers.userName}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right;">E-Mail:</td>
                                                <td style="padding-left:10px; text-align: left; font: bold 14px/22px Arial, Helvetica; ">${headers.email}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right;">Senha:</td>
                                                <td style="padding-left:10px; text-align: left; font: bold 14px/22px Arial, Helvetica; ">${headers.password}</td>
                                            </tr>
                                        </table>

                                        <p style="color: #000000; font: normal 14px/22px Arial, Helvetica; width: 82%; margin: 40px auto 40px;">
                                            Se voc&ecirc; &eacute; assinande de ZH, &eacute; necess&aacute;rio completar o seu cadastro informando seu CPF para podermos indentific&aacute;-lo.
                                        </p>
                                        <table style="width: 75%; text-align: center;" align="center">
                                            <tr>
                                                <td style="background: #FFd40e;" height="63">
                                                    <a href="http://www.clicrbs.com.br/wrs/action/update/loadheaders" style="background: #ffd40e; color: #000000; text-decoration:none; font: normal 20px Arial, Helvetica; width: 75%; text-align: center; display: block; border-radius: 5px; margin: 0 auto;">
                                                        Completar Cadastro</a>
                                                </td>
                                            </tr>
                                        </table>

                                        <p style="padding-top:10px;color: 7a7a7a;font: normal 12px/20px Arial, Helvetica, Open Sans;">
                                            Caso voc&ecirc; queira alterar algum dado, <a style="font: bold 14px/22px Arial, Helvetica;" href="http://www.clicrbs.com.br/wrs/action/update/loadheaders"> clique aqui </a> ou acesse a op&ccedil;&atilde;o "Alterar Cadastro",
                                            </br>localizada no topo do site da ZH.
                                        </p>
                                    </td>
                                </tr>

                            </thead>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="vertical-align: top; padding-top: 20px; border-top: 1px solid #e4e4e4; background: #f5f5f5; height: 200px;">
                    <table width="640">
                        <tbody>
                            <thead>
                                <tr>
                                    <td style="width: 100%; text-align: center;">
                                        <p style="color: 7a7a7a;font: normal 12px/20px Arial, Helvetica, Open Sans;">
                                            Caso voc&ecirc; queira desfazer, acesse as configura&ccedil;&atilde;es de provacidade do
                                            </br>seu Facebook e cancele a conex&atilde;o com ZH.
                                        </p>
                                    </td>
                                </tr>
                            </thead>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
